.wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
}
.errormessage{
	font-size: 10px; 
	color: red; 
}
label{
	width: 180px; 
}

textarea{
	width:70%;
	height: 400px;
}

img{
	max-width: 100%;
}

.login{
	padding: 10px;
}
.jumbotron{
	background-image: url('../img/bg.jpg');
	color:white;
}

div{
	/*outline: 1px solid blue;*/ 
}

div> .bloggpost:nth-child(odd) div{
	float:right;
}
/*
.bloggpost:nth-child(odd) div {
    background-color: red;
}*/ 
.bloggtextmin{
	max-height: 100px;
	overflow: hidden;
}
.bloggtext{

}
.main {
	min-height: 600px;
}
.instagrampopup{
	width: 600px;
	margin: 30px auto;
}