.wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
}
.errormessage{
	font-size: 10px; 
	color: red; 
}
label{
	width: 180px; 
}

textarea{
	width:70%;
	height: 400px;
}

img{
	max-width: 100%;
}

.jumbotron{
	background-image: url('../img/bg.jpg');
	color:white;
}

div{
	/*outline: 1px solid blue;*/ 
}

div> .bloggpost:nth-child(even){
	text-align: right; 
	float: right;
}
/*
.bloggpost:nth-child(odd) div {
    background-color: red;
}*/ 