<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /1DV407-Workshop2
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
 
	RewriteRule ^(.*)$ index.php?url=$1 [PT,L]
 </IfModule>